<section class="px-4 py-12 md:py-16 sm:px-6 lg:px-8" data-block="timeline">
	<div class="max-w-screen-xl mx-auto">
		<p class="inline-flex items-center justify-center px-6 py-2 text-sm font-medium tracking-wide text-white rounded-r-full rounded-tl-full bg-gradient-to-r from-dark-600 to-dark-700">{{fields.tag}}</p>
		<h2 class="text-6xl font-extrabold mt-4 mb-12 text-white">{{fields.title}}</h2>

		{% for job in fields.jobs %}
			<div class="pb-12 mt-12 border-b-[0.5px] border-dark-500">
				<div class="flex flex-col md:flex-row justify-between">
					<h3 class=" text-3xl w-full mb-3 md:mb-0 md:w-1/2">{{job.dates}}</h3>
					<div class="flex flex-col w-full md:w-1/2">
						<h3 class="text-3xl">{{job.job_title}}
							{% if job.company_with_link %}
								<span class="text-dark-500">at</a>
								<a class="text-dark-500 inline-flex hover:underline " href="{{job.company_with_link.url}}" target="_blank">
									{{job.company_with_link.title}}
									<svg class="w-3 ml-1 h-3 fill-dark-200" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l82.7 0L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3l0 82.7c0 17.7 14.3 32 32 32s32-14.3 32-32l0-160c0-17.7-14.3-32-32-32L320 0zM80 32C35.8 32 0 67.8 0 112L0 432c0 44.2 35.8 80 80 80l320 0c44.2 0 80-35.8 80-80l0-112c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 112c0 8.8-7.2 16-16 16L80 448c-8.8 0-16-7.2-16-16l0-320c0-8.8 7.2-16 16-16l112 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L80 32z"/></svg>
								</a>
							{% elseif job.company_text_only %}
								<span class="text-dark-500">at
									{{job.company_text_only}}</span>
							{% endif %}
						</h3>
						<p class="text-xl font-light text-slate-400 mt-3">{{job.description}}</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

</section>
